ion-content {
  --ion-background-color: #005b74;
  --offset-bottom: 0px !important;
}

ion-card {
  --background: #fff !important;
  border-radius: 0.8rem !important;
}

.sc-ion-searchbar-md-h {
  --background: #fff !important;
  --border-radius: 0.8rem !important;
}
