.age-select-header {
  font-family: Teko-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #efefef;
  line-height: 30px;
  margin-left: 1rem;
}

.age-select-subheader {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #efefef;
  line-height: 10px;
  margin-left: 1rem;
}

.age-select-panel {
  margin-top: calc(100px + (100vh - 10vh - 118px - 100px) / 2);
  transform: translate(0, -50%);
}

.value-panel {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.age-label,
.age-value {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #005b74;
}

.age-label {
  font-family: Roboto-Regular;
  font-size: 22px;
}

.age-value {
  font-family: Roboto-Bold;
  font-size: 28px;
}

.age-select-button {
  height: 3rem;
  font-family: Roboto-Regular;
  font-size: 16px;
  --border-radius: 1rem;
  margin: 0 2rem;
}

.arrow-slider {
  -webkit-appearance: slider-vertical;
  height: 38vh;
  margin-top: 0.5rem;
}

ion-grid {
  padding: 2rem;
}

ion-content {
  overflow: hidden;
  --ion-background-color: #efefef;
}
