<ion-content>
  <!-- Background Curves -->
  <app-background-curves></app-background-curves>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-end height-select-header">
        <span>HEIGHT</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-end height-select-subheader">
        <span>Please select your height</span>
      </ion-col>
    </ion-row>

    <ion-row class="height-select-panel">
      <ion-col size="6" class="ion-text-center">
        <img
          class="primary-image"
          [src]="genderIsFemale ? 'assets/images/femaleBlack.svg' : 'assets/images/maleBlack.svg'"
          alt="silouette"
          style="height: 35vh"
        />
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <img
          class="primary-image"
          src="assets/images/rulerBlack.svg"
          alt="ruler"
          style="height: 35vh"
        />
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <div style="height: 35vh" class="height-slider">
          <ngx-slider
            [(value)]="selectedHeight"
            [options]="options"
          ></ngx-slider>
        </div>
      </ion-col>
    </ion-row>

    <div class="value-panel">
      <ion-row style="display: flex">
        <ion-col size="12" class="ion-text-center">
          <span class="height-label">Your height: </span>
          <span class="height-value"
            >{{ selectedHeight | convertUnit:selectedUnit}}</span
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-radio-group
            [(ngModel)]="selectedUnit"
            style="display: flex; justify-content: space-evenly"
          >
            <ion-item lines="none">
              <ion-radio [value]="1"></ion-radio>
              <ion-label style="margin-left: 0.3rem">cm</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-radio [value]="2"></ion-radio>
              <ion-label style="margin-left: 0.3rem">feet</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 1rem">
        <ion-col size="12" class="ion-text-center">
          <ion-button
            class="height-select-button"
            color="primary"
            expand="block"
            (click)="setSelectedHeight()"
            >NEXT</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
