<ion-content>
  <ion-grid class="gender-select-wrapper">
    <ion-row>
      <ion-col size="12" class="ion-text-center gender-select-header">
        <span>Select your gender</span>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 3rem">
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="male-outline"></ion-icon>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-icon name="female-outline"></ion-icon
      ></ion-col>
    </ion-row>

    <ion-row style="margin-top: 3rem">
      <ion-col size="12" class="ion-text-center">
        <ion-button
          class="gender-select-button"
          color="primary"
          routerLink="/gender-select"
          >NEXT</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
