<ion-content>
  <ion-grid class="login-wrapper">
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <h3 class="login-header ion-text-center">Login</h3>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 2rem">
      <ion-col size="12" class="ion-align-items-center">
        <ion-input placeholder="Email"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 1rem">
      <ion-col size="12" class="ion-align-items-center">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 1.5rem">
      <ion-col size="12" class="ion-text-center">
        <ion-button class="login-button" color="primary"
          >ENTER ACCOUNT</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <span class="go-to-sign-up">First time on our app?</span>
        <span class="sign-up-btn" routerLink="/register">Sign Up</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
