.password-header {
  font-family: Teko-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #efefef;
  line-height: 20px;
}

.password-subheader {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #efefef;
  line-height: 10px;
}

.password-button {
  height: 3rem;
  font-family: Roboto-Medium;
  font-size: 16px;
  --border-radius: 1rem;
  margin-top: 18rem;
}

.go-to-login {
  font-family: Roboto-Light;
  color: #828282;
  font-size: 14px;
}

.login-btn {
  font-family: Roboto-Bold;
  color: #efefef;
  font-size: 14px;
  margin-left: 0.3rem;
}

ion-icon {
  font-size: 64px;
  color: #505050;
}

ion-content {
  --ion-background-color: #005b74;
}

ion-grid {
  margin-top: 5rem;
  padding: 2rem;
}

ion-item {
  border-bottom: 1px solid #828282 !important;
  &.ion-invalid.ion-touched {
    border-bottom: 1px solid red !important;
  }
  &.item-has-focus {
    border-bottom: 1px solid #efefef !important;
  }
}
