<ion-content>
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-icon name="key-outline"></ion-icon>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="12">
        <span class="password-header">We all love privacy</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="padding: none">
        <span class="password-subheader"> Choose a strong password </span>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 3rem">
      <ion-col size="12" class="ion-align-items-center">
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input class="light-text" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 1rem">
      <ion-col size="12" class="ion-align-items-center">
        <ion-item lines="none">
          <ion-label position="floating">First name</ion-label>
          <ion-input class="light-text" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          class="password-button"
          color="light"
          expand="block"
          routerLink="/gender-select"
          >NEXT</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <span class="go-to-login">Already have an account?</span>
        <span class="login-btn" routerLink="/login">Login</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
