<ion-content>
  <ion-grid>
    <form [formGroup]="passwordSelectForm" (ngSubmit)="registerUser()">
      <ion-row>
        <ion-col size="12">
          <span class="password-header">We all love privacy</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" style="padding: none">
          <span class="password-subheader"> Choose a strong password </span>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 3rem">
        <ion-col size="12" class="ion-align-items-center">
          <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              formControlName="password"
              class="light-text"
              type="password"
            ></ion-input>
          </ion-item>

          <!-- input error message -->
          <ng-container
            *ngIf="password.dirty && password.touched && password.errors"
          >
            <span class="input-error" *ngIf="password.errors?.['required']"
              >*This field is required</span
            >
            <span class="input-error" *ngIf="password.errors?.['minlength']"
              >*The password must contain at least 6 characters</span
            >
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 1rem">
        <ion-col size="12" class="ion-align-items-center">
          <ion-item lines="none">
            <ion-label position="floating">Confirm password</ion-label>
            <ion-input
              formControlName="confirmPassword"
              class="light-text"
              type="password"
            ></ion-input>
          </ion-item>
          <!-- input error message -->
          <ng-container
            *ngIf="confirmPassword.dirty && confirmPassword.touched"
          >
            <span
              class="input-error"
              *ngIf="confirmPassword.errors?.['required']"
              >*This field is required</span
            >
            <span class="input-error" *ngIf="!passwordsMatch"
              >*Passwords do not match</span
            >
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            type="submit"
            class="password-button"
            color="light"
            expand="block"
            >NEXT</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <span class="go-to-login">Already have an account?</span>
          <span class="login-btn" routerLink="/login">Login</span>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
