<ion-content>
  <ion-grid>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <h3 class="login-header">Log in</h3>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 2rem">
        <ion-col size="12" class="ion-align-items-center">
          <ion-item lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" class="light-text"></ion-input>
          </ion-item>
          <span
            class="input-error"
            *ngIf="email.dirty && email.touched && email.errors"
            >*Invalid email</span
          >
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 1rem">
        <ion-col size="12" class="ion-align-items-center">
          <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              formControlName="password"
              class="light-text"
              type="password"
            ></ion-input>
          </ion-item>
          <span
            class="input-error"
            *ngIf="(password.dirty || password.touched) && password.errors"
            >*Password must contain at least 6 characters</span
          >
          <span class="input-error" *ngIf="loginFailed"
            >Wrong email or password</span
          >
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 1.5rem">
        <ion-col size="12" class="ion-text-center">
          <ion-button
            type="submit"
            class="login-button"
            color="light"
            expand="block"
            [disabled]="!loginForm.valid"
            >ENTER ACCOUNT</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <span class="go-to-sign-up">First time on our app?</span>
          <span class="sign-up-btn" routerLink="/register">Sign Up</span>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
