.light-text {
  & .native-input {
    &.sc-ion-input-ios,
    &.sc-ion-input-md {
      color: #efefef;
    }
  }
}

.label-floating.sc-ion-label-md-h {
  color: #828282;
}

.ion-focused.label-stacked.sc-ion-label-md-h:not(.ion-color),
.ion-focused .label-stacked.sc-ion-label-md-h:not(.ion-color),
.ion-focused.label-floating.sc-ion-label-md-h:not(.ion-color),
.ion-focused .label-floating.sc-ion-label-md-h:not(.ion-color),
.item-has-focus.label-stacked.sc-ion-label-md-h:not(.ion-color),
.item-has-focus .label-stacked.sc-ion-label-md-h:not(.ion-color),
.item-has-focus.label-floating.sc-ion-label-md-h:not(.ion-color),
.item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color) {
  color: #828282;
}
ion-item {
  --background: none;
  opacity: 1;
}
