ion-loading.custom-loading {
  --background: rgba(255, 255, 255, 1) !important;
  --spinner-color: #005b74 !important;
  --height: 100% !important;
  --width: 100% !important;
  --max-height: 100% !important;
  --max-width: 100% !important;
  color: #efefef !important;
  & .loading-wrapper.sc-ion-loading-md {
    box-shadow: none !important;
    -webkit-box-shadow: 0 16px 20px rgb(0 0 0 / 0%) !important;
  }
  ion-spinner {
    height: 100px;
    width: 100px;
  }
}
