.password-wrapper {
  background: #f6f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 50vh;
  transform: translate(0, -50%);
  padding: 1.5rem;
}

.password-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  text-align: center;

  color: #505050;
}

.password-subheader {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  text-align: center;

  color: #505050;
}

.password-button {
  height: 4rem;
  width: 50%;
  font-family: Roboto-Light;
  font-size: 16px;
}

.go-to-login {
  font-family: Roboto-Light;
  color: #313131;
  font-size: 14px;
}

.login-btn {
  font-family: Roboto-Bold;
  color: #005b74;
  font-size: 14px;
  margin-left: 0.3rem;
}

ion-icon {
  font-size: 64px;
  color: #505050;
}
