<ion-content scroll-y="false">
  <!-- Background Curves -->
  <app-background-curves></app-background-curves>

  <ion-grid class="gender-select-wrapper">
    <ion-row>
      <ion-col size="12" class="gender-select-subheader">
        <span>Hi, {{firstName}}!</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="gender-select-header">
        <span>SELECT YOUR GENDER</span>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 3rem">
      <ion-toggle [(ngModel)]="selectedGender"> </ion-toggle>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          class="gender-select-button"
          color="primary"
          expand="block"
          routerLink="/height-select"
          (click)="setSelectedGender()"
          >NEXT</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
